@import "tailwindcss";

:root {
  --background: #0a0e1a;
  --foreground: #171717;
  --background-2:#161d2c;
  --primary: #6366f1;
  --off-white-1:#d3d5d9;
  --off-white-2:#a9aaad;
  --card:#131825;
}

@theme inline {
  --color-background-1: var(--background);
  --color-background-2: var(--background-2);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-off-white-1: var(--off-white-1);
  --color-off-white-2: var(--off-white-2);
  --color-card:var(--card);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0e1a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}